{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}

{% block main %}

    <article>

        <h1>{{ article.title }}</h1>
        <a href="{{ path ('admin_delete_article',{'id':article.id })}}">Voulez-vous supprimer cet article? </a>

    </article>


{% endblock %}

{% block footer %}
    <footer>Coucou, je suis le footer de l'article</footer>
{% endblock %}