{% extends 'Admin/base.html.twig' %}


{% block main %}
    <article>
        <h2 style="color: {{ category.color }};">{{ category.title }}</h2>
        {% for article in category.articles %}
             <p>{{ category.description }}</p>
        {% endfor %}
        <a href="{{ path ('admin_delete_category',{'id':category.id })}}">Voulez-vous supprimer cet article? </a>
    </article>
{% endblock %}


{% block footer %}
    <footer>Coucou, je suis le footer</footer>
{% endblock %}

