{% extends 'base.html.twig' %}

{% block main %}

    <article>

        <h1>{{ articles.title }}</h1>
        <p>{{ articles.description }}</p>
        <img src="{{ articles.image }}" alt="">

    </article>


{% endblock %}
