{% include '_header.html.twig' %}


<article>

        <h1>{{ articles.title }}</h1>
        <p>{{ articles.description }}</p>
        <img src="{{ articles.image }}" alt="">

</article>


{% include '_footer.html.twig' %}