{% include '_header.html.twig' %}


<article>
    <div class="article">
        <h1>{{ articles.title }}</h1>
        <p>{{ articles.description }}</p>
        <img src="{{ articles.image }}" alt="">
    </div>
</article>


{% include '_footer.html.twig' %}