{% extends 'base.html.twig' %}

{% block main %}
    <section class="articles">

        {% for article in articles %}

            <article class="article">
                <h1>{{ article.title }}</h1>
                {% if article.category %}
                    <p>{{ article.category.title }}</p>
                {% else %}
                    <p>Pas de catégorie</p>
                {% endif %}
                <a href={{ path('article', {'id': article.id }) }}>Voir le détail de l'article_</a>
            </article>

        {% endfor %}

    </section>

{% endblock %}