{% extends 'base.html.twig' %}

{% block main %}



    {% for article in lastArticles %}
        <article class="article">
            <h1>{{ article.title }}</h1>

            <a href={{ path('admin_article', {'id': article.id }) }}>Voir le détail de l'article</a>
        </article>
    {% endfor %}



{% endblock %}

{% block footer %}
    <footer>Coucou, je suis le footer du home</footer>
{% endblock %}