{% extends 'base.html.twig' %}

{% block main %}



    {% for article in articles %}
        <article>
            <h1>{{ article.title }}</h1>
            <p>{{ article.description }}</p>
            <img src="{{ article.image }}" alt="">
            <a href={{ path('article', {'id': article.id }) }}>Voir le détail de l'article</a>
        </article>
    {% endfor %}



{% endblock %}